body{
  color: #000;
  font-family: "HyundaiSansText-Regular";
  font-size: 18px;
}

p{
  font-size: 18px;
  margin-top: 20px;
}

a{
  color: #00AAD2;
  text-decoration: none;
}

.button-hyundai{
  font-size: 16px;
  color: #fff;
  padding: 12px 27px;
  background-color: #002C5F;
  margin-top: 20px;
  display: inline-block;
  border: none;
  text-decoration: none;
}

.button-hyundai.button-white,
.button-hyundai.button-white:hover{
  background-color: #fff;
  color: #00AAD2;
}

.button-hyundai:hover{
  color: #fff;
  text-decoration: none;
}

.title-section{
  font-size: 42px;
  font-family: "HyundaiSansText-Bold";
}


.bg-hyundai-sand{
  background-color: #F6F3F2;
}
