:root{
    /*colors*/
    --hyundai-blue: #002c5f;
    --hyundai-sand: #e4dcd3;
    --hyundai-light-sand: #f6f3f2;
    --white: #ffffff;
    --black: #000000;
    --dark-grey: #676767;
    --light-grey: #cccccc;
    --alarm-color: #007fa8;
}

html{
    scroll-behavior: smooth;
}

strong{
    font-family: "HyundaiSansHead-Medium";
}

.fake-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}

.fake-footer{
    padding: 40px 0;
    text-align: center;
}

.wrap-campaign-image{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
    }

    h1{
        font-size: 43px;
        color: var(--white);
        z-index: 1;
        @media (max-width: 992px) {
            font-size: 22px;
        }
    }

    .container{
        position: absolute;

        h1{
            text-align: center;
        }
    }
}

.club-page-content{
    margin-top: -80px;
    @media (max-width: 768px){
        margin-top: -65px;
    }
    

    .container{
        @media (min-width: 1200px){
            max-width: 1360px;
        }
    }

    .breadcrumb{
        margin-bottom: 30px;
        padding: 0;
        background-color: transparent;
        display: flex;
        align-items: center;

        &-item{
            line-height: 27px;
        }
        
        .breadcrumb-item + .breadcrumb-item::before{
            content: "";
            padding: 0;
        }
        
        .breadcrumb-item.active{
            padding-left: 10px;
            svg{
                margin-right: 10px;
            }
        }

        a,
        .active{
            font-family: "HyundaiSansHead-Regular";
            color: var(--black);
            font-size: 16px;
        }
    }

    .wrap-fan-club-content-car{
        background-color: #e5dcd1;
        padding: 20px 27px;
        text-align: center;

        h2,
        p,
        h3{
            margin: auto;
        }

        h2{
            font-size: 72px;
            margin-bottom: 80px;
            max-width: 745px;
            font-family: "HyundaiSansHead-Medium";

            @media (max-width: 768px){
                font-size: 32px;
                max-width: 270px;
                margin-bottom: 20px;
            }
        }

        p{
            font-family: "HyundaiSansText-Regular";
            font-size: 20px;
            max-width: 856px;
            margin-bottom: 80px;

            @media (max-width: 768px){
                font-size: 13px;
                margin-bottom: 30px;
            }
        }

        h3{
            font-family: "HyundaiSansHead-Medium";
            font-size: 42px;
            max-width: 710px;
            margin-bottom: 125px;

            @media (max-width: 768px){
                font-size: 22px;
                margin-bottom: 30px;
            }

        }
    } 

    .wrap-cars{
        @media (max-width: 768px){
            overflow: hidden;
            padding: 40px 0 0 0;
            transform: scale(1.1) translateY( -30px);
        }

        .lSSlideOuter{
            padding-bottom: 63px;
            overflow: visible;
    
            @media (max-width: 768px){
                padding-bottom: 30px;
            }
    
            .lSSlideWrapper{
                overflow: visible;
    
                .lightSlider{
                    overflow: visible;
                }
            }
    
            .lSAction{
                display: none !important;
            }
        }  
    }

    .lightSlider-cars{
        padding-bottom: 63px !important;
        position: relative;
        z-index: 1;
        margin-top: -57px;

        @media (max-width: 768px) {
            margin-top: -19px;
        } 
        
        .car-club{
            position: relative;
            cursor: pointer;
            text-decoration: none;
            transform: translateX(20px);
            @media (min-width: 768px) {
                &:hover{

                    img{
                        transition: all .6s;
                        transform: scale(1.4) translate(-10px ,3px);
                    }
                }
            }

            &:hover{

                img{
                    transition: all .6s;
                    transform: scale(1.4) translate(-10px ,3px);
                }

                h4{
                    text-decoration: none !important;
                }
            }

            img{
                display: block;
                width: 100%;
                transform: scale(1.4);
                transition: all .4s;

                @media (max-width: 768px) {
                    transform: scale(1.6);
                }
            }

            h4{
                font-size: 30px;
                font-family: "HyundaiSansHead-Medium";
                text-align: center;
                color: var(--black);
                margin-top: 20px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }

            }
        }
    }

    .car-clubs-region{
        padding-top: 63px;
        padding-bottom: 63px;

        @media (max-width: 768px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        h5{
            font-family: "HyundaiSansHead-Medium";
            font-size: 42px;
            margin-bottom: 60px;

            @media (max-width: 768px) {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }

        .nav-tabs{
            border-bottom: 2px solid var(--hyundai-blue);
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            @media (max-width: 768px) {
                overflow: scroll;
            }

            .nav-item{
                margin-bottom: 0px;
                @media (max-width: 768px) {
                    height: 61px
                }
            }

            .nav-link{
                border: none;
                color: var(--black);
                border-radius: 0;
                font-size: 24px;
                padding: 17px 0;
                text-align: center;
                white-space: nowrap;

                @media (max-width: 768px) {
                    font-size: 18px;
                    padding-left: 24px;
                    padding-right: 24px;
                }

                &.active{
                    color: var(--white);
                    background-color: #00aad2;
                }
            }
        }

        .item-club{
            border: 1px solid #cccccc;
            padding: 18px;
            position: relative;
            min-height: 100%;
            cursor: default;

            .header-club{
                position: absolute;
                top: 18px;
                left: 18px;
                right: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span{
                    font-size: 13px;
                    font-family: "HyundaiSansHead-Medium";
                }

                .social-media{
                    display: flex;

                    a{
                        width: 26px;
                        height: 26px;
                        display: block;
                        margin-left: 10px;

                        svg{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            picture{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                img{

                }
            }

            .club-content{
                h3{
                    font-size: 22px;
                    font-family: "HyundaiSansHead-Medium";
                    margin-bottom: 20px;
                }

                p{
                    font-size: 16px;
                    line-height: 1.1;
                }
            }
        }
    }

    .nav-footer{
        display: flex;
        margin-top: 125px;

        .link-copa-shell,
        .link-ofertas{
            flex-grow: 1;
            width: 50vw;
            height: 60vw;
            max-height: 525px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            text-align: center;
            color: var(--white);
            background-size: cover;
            background-position: center;
            background-size: auto 100%;
            transition: all .6s;

            @media (max-width: 768px){
                font-size: 18px;
            }

            &:hover{
                text-decoration: none;
                background-size: auto 105%;
                transition: all .4s;
            }
        }

        .link-copa-shell{
            background-image: url(../image/copa-shell.jpg);
        }

        .link-ofertas{
            background-image: url(../image/ofertas.jpg);
        }
    }
}


.btn-hyundai{
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    padding: 12px 27px;
    background-color: #002C5F;
    margin-top: 20px;
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}